- @group.messages.each do |message|
  .chat{"data-message-id": "#{message.id}"}
    .chat-main__body_list--message-name
      = message.user.name
    .chat-main__body_list--message-time
      = message.updated_at
    .clear
    .chat-main__body_list--message-body
      = message.body
      - if message.image?
        = image_tag message.image_url(:thumb)
