.chat-side
  .chat-side__user
    .chat-side__user_content
      .chat-side__user_content--name
        %p#seo
          = current_user.name
      .chat-side__user_content--nw
        = link_to new_group_path do
          %i.fa.fa-pencil-square-o
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog

  .chat-side__groups
    .chat-side__groups_list
      .chat-side__groups_list--group
        = render partial: "messages/group"

.chat-main
  .chat-main__header
    .chat-main__header_group
      .chat-main__header_group--name
        = current_user.groups.find(params[:group_id]).groupname
      %button{type:"button"}
        = link_to edit_group_path(params[:group_id]) do
          Edit
      .clear
    .chat-main__header_members
      Members:
      - current_user.groups.find(params[:group_id]).users.each do |t|
        = t.name
  .chat-main__body
    .chat-main__body_list
      .chat-main__body_list--message
        = render partial: "messages/message"
      .scroll_target

  .chat-main__footer
    .chat-main__footer_form
      = form_for [@group, @message] do |m|
        .text-with-icon
          =m.hidden_field :user_id, value: "#{@message.user_id}"
          = m.text_area :body, placeholder: "type a message"
          %label.file
            %i.fa.fa-picture-o
              = m.file_field :image
          .btn
            = m.submit "SEND", class: "send-button"

