.chat-group-form
  %h1 チャットグループ編集
  = form_for @group, url: group_url, method: :patch do |f|
    - if @group.errors.any?
      .chat-group-form__errors
        %h2
          = @group.errors.count
          件のエラーがあります。
          %ul
            - @group.errors.full_messages.each do |msg|
              %li= msg
    / %form#edit_chat_group_22.edit_chat_group{"accept-charset" => "UTF-8", :action => "/chat_groups/22", :method => "post"}

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label{for: "chat_group_name"} グループ名
      .chat-group-form__field--right
        #chat_group_name.chat-group-form__input
          = f.text_area :groupname, placeholder: "グループ名を入力してください"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        %label.chat-group-form__label{for: "chat_group_チャットメンバー"} チャットメンバー
      .chat-group-form__field--right
        .check_box
          = f.collection_check_boxes(:user_ids, User.all, :id, :name) do |b|
            = b.check_box + b.text

    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        .chat-group-form__action-btn
          = f.submit "SAVE"
